/* #dddddd */
/* #125d98 */
/* #3c8dad */
/* #f5a962 */

body {
  background-color: #dddddd;

}

.custom-header {
  background-color: #125d98;
}


.nav-link{
  color: #dddddd !important;
}

.nav-brand{
  color: #dddddd !important;
}